body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: darkgreen;
}

h1 {
  color: goldenrod;
}

h4 {
  font-style: italic;
}

#message-el {
  font-style: italic;
}

button {
  color: black;
  background-color: lightgray;
  border-style: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  margin: 2px;
  width: 180px;
}

button:disabled {
  color: black;
  background-color: gray;
  border-style: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  margin: 2px;
  width: 180px;
}

#buttons-el {
  display: grid;
  justify-content: center;
}

#start-el {
  color: black;
  background-color: goldenrod;
}

#start-el:disabled {
  color: black;
  background-color: #856b23;
}

#bet-el {
  display: grid;
  justify-content: center;
  margin: 10px;
}

#bet-label {
  margin: 5px;
}

#bet {
  margin: 5px;
  text-align: center;
}

#submit-bet {
  margin: 5px;
}
